{% extends 'manager/managerHome.html.twig' %}


{% block body %}
<div class="container">
  <h1>Créer une nouvelle demande</h1>
  <form action="managerHome.php" class="form" method="post">


    <!-- Infos demandeur -->
    <h3>Informations sur la demande :</h3>

    <div class="input-group col-xs-8">
      <label>Type de personne concerné :</label>
      <select class=form-control>
        <option value="dde">Demandeur d'emploi</option>
        <option value="etp">Entreprise</option>
      </select>
    </div>

    <div class="input-group col-xs-8">
      <label>Identifiant (SIREN/SIRET ou numéro de demandeur d'emploi) :</label>
      <input type="text" class="form-control" placeholder="Identifiant du demandeur">
    </div>

    <div class="input-group col-xs-8">
      <label>Thème de la demande :</label>
      <select class=form-control>
        <option value="dde">Formation</option>
        <option value="etp">pole-emploi.fr</option>
      </select>
    </div>


    <!-- ------------------------------------------------ -->

    <h3>Votre demande : </h3>

    <div class="input-group col-xs-8">
      <label>Description :</label>
      <textarea class="form-control" name="name" rows="3" placeholder="Décrivez votre demande le plus précisément possible. (500 caractères maximum)"></textarea>
    </div>

    <div class="input-group col-xs-8">
      <label>Ajouter une pièce jointe :</label>
      <input type="file">
    </div>

    <br>

    <input type="submit" class="btn btn-primary" value="Valider">
  </form>


</div>
{% endblock %}
