{% extends 'manager/managerHome.html.twig' %}


{% block body %}
<div class="container">
  {% if erreurDemande is not null %}
  <p class="alert alert-danger">{{erreurDemande}}</p>
  {% endif %}
  <h1>Créer une nouvelle demande le {{date}}</h1>
  <form action="managerSuivi.php" class="form" method="post" enctype="multipart/form-data">

    <h3>Informations sur la demande :</h3>
    <div class="input-group col-xs-8">
      <label >Type de personne concernée</label>
      <select class="form-control" name="personneConcerne" required="true">
        <option value="Entreprise">Entreprise</option>
        <option value="Demandeur d'emploi">Demandeur d'emploi</option>
        <option value="autre">Autre</option>
      </select>
    </div>

    <div class="input-group col-xs-8">
      <label>Identifiant de la personne concernée (SIREN, SIRET, numéro de demandeur d'emploi...) :</label>
      <input type="text" class="form-control" name="idConcerne" required="true" placeholder="Saisissez les informations permettant d'identifier la personne concernée.">
    </div>

    <div class="input-group col-xs-8">
      <label>Thème de la demande :</label>
      <select class=form-control name="idTheme" required="true">
        {% for theme in themes %}
            <option value="{{theme.id}}">{{theme.libelle}}</option>
        {% endfor %}
      </select>
    </div>

    <h3>Votre demande : </h3>

    <div class="input-group col-xs-8">
      <label>Description :</label>
      <textarea class="form-control" name="description" rows="3" required="true" placeholder="Décrivez votre demande le plus précisément possible. (500 caractères maximum)"></textarea>
    </div>

    <div class="input-group col-xs-8">
      <label>Ajouter une pièce jointe :</label>
      <p><i>(Formats autorisés : .pdf, .csv, .xls, .doc, .xlsx, .docx, .rar, .zip, .ppt, .jpg, .png, .gif)</i></p>
      <input type="file" name="pj">
    </div>

    <br>

    <input type="submit" class="btn btn-primary " name="validerDemande" value="Valider">
  </form>


</div>
{% endblock %}
