{% extends 'layout.html.twig' %}

{% block navbar %}
    <a class="col-xs-4 col-lg-2 home" href="managerHome.php"><h3>Fil Réseau</h3></a>
    <div class="col-xs-5 col-lg-8">
      <ul class="nav nav-pills">
        <li role="presentation" class="navElement"><a href="managerDemande.php">Nouvelle demande</a></li>
        <li role="presentation" class="navElement"><a href="managerSuivi.php">Mes demandes</a></li>
        <li role="presentation" class="navElement"><a href="bibliotheque.php">Archives</a></li>
        <li role="presentation" class="navElement"><a href="managerHome.php">Planning des permanences</a></li>
      </ul>
    </div>
{% endblock %}

{% block body %}
<section class="container">

  <p>Votre demande n'apparait pas dans le fil d'actualité ? Faites appel à l'un de nos experts. <a href="managerDemande.php"><button type="button" class="btn btn-primary" name="button">Nouvelle Demande</button></a>

  <div class="planning">
    <h3>Planning des permanences : </h3>
    <p class="alert alert-warning">
      Votre demande est urgente ?
      Contactez par téléphone l'un de nos experts en permanence.
    </p>

    <table class="planning table table-bordered">
      <tr>
        <td><b>Disponibilité</b></td>
        <td>Lundi</td>
        <td>Mardi</td>
        <td>Mercredi</td>
        <td>Jeudi</td>
        <td>Vendredi</td>
      </tr>

      <tr>
        <td>Matin (9h-12h)</td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
      </tr>

      <tr>
        <td>Après-midi (14h-17h)</td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>Patrick Durand</li>
            <li>Jean Dupont</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</section>

{% endblock %}
