{% extends 'expert/expertHome.html.twig' %}



{% block body %}
  <section class="container">
    <h2>Rechercher une demande :</h2>
    <form class="form-inline" action="index.html" method="post">
        <input type="text" name="search" class="form-control" placeholder="Recherche par mots clés">
        <input type="submit" class="btn btn-default" value="Rechercher">
    </form>

    <form class="" action="index.html" method="post">

    </form>


    <hr>

    <h2>Liste des demandes archivées</h2>
      <p class="alert alert-success">
        Les demandes suivantes ont été jugées utiles. N'hésitez pas à consulter celles de la catégorie qui vous intéresse avant toute nouvelle demande.
      </p>
      <table class="table table-bordered">
        <tr class="bg-primary">
          <td>N°</td>
          <td>Objet de la demande</td>
          <td>Date</td>
          <td>Réponse(s)</td>
          <td>Résolu par</td>
        </tr>


        <tr>
          <td>1</td>
          <td>Annulation AFPR</td>
          <td>11/03/2017</td>
          <td><a href="#">1</a></td>
          <td>Thierry DUPONT</td>
        </tr>
      </table>
  </section>
{% endblock %}
