{% extends 'layout.html.twig' %}

{% block navbar %}
<a class="col-md-2 col-xs-3 home" href="expertHome.php"><h3>Fil Réseau</h3></a>
<div class="col-md-7 col-xs-5">
  <ul class="nav nav-pills">
    <li role="presentation" class="navElement"><a href="expertHome.php">Demandes en attente de résolution</a></li>
    <li role="presentation" class="navElement"><a href="expertHome.php">Gestion post-its</a></li>
    <li role="presentation" class="navElement"><a href="bibliotheque.php">Recherche demande</a></li>
  </ul>
</div>
{% endblock %}

{% block body %}
<div class="intro">
  <h3>Bienvenue sur Fil Réseau : Votre outil de gestion des demandes.</h3>
  <p>Consultez la liste des demandes en cours, traitez celles que vous souhaitez et sauvegardez dans la bibliothèque les réponses les plus "utiles"</p>
</div>

{% if POST.validerPostit is not empty %}
<p class="alert alert-success">Votre postit a bien été ajouté.</p>
{% endif %}

<div>
  <h3>Demandes en attente de résolution</h3>
  {% if demandes is empty %}
  <p class="alert alert-success">Aucune demande en attente de résolution</p>
  {% else %}
  <table class="table table-bordered">
    <tr class="bg-primary">
      <td>N° de demande</td>
      <td>Thème</td>
      <td>Date</td>
      <td>Action</td>
    </tr>

    {% for demande in demandes %}
    <tr>
      <td>{{demande.id}}</td>
      <td>{{demande.libelleTheme}}</td>
      <td>{{demande.datePost|date('d/m/Y à H:i:s')}}</td>
      <td><a href="expertDemande.php?id_demande={{demande.id}}"><button type="button" class="btn btn-success">Consulter</button></a></td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
</div>


{% endblock %}
