{% extends 'admin/adminHome.html.twig' %}



{% block body %}
  <ul class="nav nav-pills">
    <li><a href="adminGestion.php?table=theme">Gestion des Thèmes</a></li>
    <li><a href="adminGestion.php?table=manager">Gestion des Managers</a></li>
    <li><a href="adminGestion.php?table=expert">Gestion des Experts</a></li>
    <li><a href="adminGestion.php?table=agence">Gestion des Agences</a></li>
  </ul>

  {% if GET.table =='theme' %}
  {% include 'admin/gestionTables/gestionThemes.html.twig' %}
  {% elseif GET.table =='manager' %}
  {% include 'admin/gestionTables/gestionManagers.html.twig' %}
  {% elseif GET.table =='expert' %}
  <p>Les experts</p>
  {% elseif GET.table =='agence' %}
  {% include 'admin/gestionTables/gestionAgences.html.twig' %}
  {% else %}
  {% include 'admin/gestionTables/gestionThemes.html.twig' %}
  {% endif %}


{% endblock %}
