/*=====CSS du header=========*/
.header-titre{
  text-align: center;
}

.blocUser{
  float: right;
  margin-top:1%;
}

.navbar{
  font-size: 18px;
  background-color: #337ab7;
  color: white;
}

.navbar a{
  color: white;
  text-decoration: none;
}


.navElement{
  margin-top: 1%;
}

.connected{
  margin-top:2%;
}

.navElement a:hover{
  color:black;
}
/*=====FIN CSS du header=========*/


.headerDemande{
  margin-top : 2%;
  margin-bottom: 2%;
  padding-top: 1%;
}

.demande{
  padding: 1%;
}

.demande h4{
  color: grey;
}

.post-it{
  box-shadow:1px 1px 8px #888888;
  padding:1%;
}

.corpsDemande {
  margin-top:2%;
  box-shadow: 2px 2px 10px #888888;
}

.actualite{
  border: ridge;
  padding: 1%;
}

.intro{
  margin-bottom:2%;
}

/*Espace Admin*/

.blocGestion{
  margin-top: 3%;
}


button{
  margin:1%;
}
