.navbar{
  font-size: 18px;
  background-color: #337ab7;
  color: white;
  h
}

.navbar a{
  color: white;
  text-decoration: none;
}

.navElement{
  margin-top: 1%;
}

.blocUser{
  float: right;
  margin-top:1%;
}
.blocUser a:hover, .home:hover{
  color:oldlace;
}

.navElement a:hover{
  color:black;
}
.corpsDemande{
  border: solid;
  padding: 1%;
}

.demande{
  padding: 1%;
}

.intro{
  margin-bottom:2%;
}
